<ion-view view-title="Profile">
  <ion-content class="padding">
	<div ng-class="profileClass">
		<div class="container">
			<img class="profile-avatar" src="img/blank_avatar_small.png" ></img>
			<div class="right-box">
				<p>{{ fullName }}</p>
				<p ng-class="loggedIn">Leitrim, Ireland</p>
				<p>Status: Unemployed</p>
			</div>
		</div>
		<br/>
		<div class="container">
			<div class="padding referral-section">
			<h2>Referrals</h2>

				<div ng-repeat="(uid, referral) in referrals">
					<div class="referral-box">
						<p>{{ referral['referralText'] }} </p>
					</div>
					<p>Written by:</p>
					<div class="referrer-box">
					<img class="search-avatar" src="img/blank_avatar_small-alt.png" ></img>
					
					<div class="right-box padding-left">
						
						<p>{{ referral['authorName'] }}</p>
						<p>({{ referral['authorEmail'] }})</p>
						<p> on {{ referral['timestamp'] | date }}</p>
					</div>
				</div>
				
				</div>
			</div>
			
			<br/>
			<div class="container">
				<h2 class="text-center">Send a Referral</h2>
				<form name="referralForm" ng-model-options="{ getterSetter: true }">
					<textarea class="write-box" ng-model="form.referralText" rows="12" cols="50"></textarea>
					<label class="item">
						<button class="button button-block button-positive" ng-click="refer()" type="submit">Submit</button>
					</label>
					<label class="item">
						<button class="button button-block button-positive" ng-click="referCheck()" type="submit">Referral check</button>
					</label>
					<label class="item">
						<button class="button button-block button-positive" ng-click="modal.show()" type="submit">Modal</button>
					</label>
				</form>
			</div>

		</div>
	</div>
  </ion-content>
</ion-view>


<!---test modal-->

<script id="templates/pendRefModal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-content>
			<p>{{incomingReferral}}</p>
			<label class="item">
				<button class="button button-block button-calm" ng-click="acceptRef()" type="submit">Accept</button>
			</label>
			<label class="item">
				<button class="button button-block button-assertive" ng-click="declineRef()" type="submit">Decline</button>
			</label>

		</ion-content>
	</ion-modal-view>
</script>
