<ion-view view-title="Profile">
  <ion-content class="padding">
	<div ng-class="profileClass">
	<div class="container">
		<img class="profile-avatar" src="img/blank_avatar_small.png" ></img>
		<div class="right-box">
			<p>{{ fullName }}</p>
			<p>Leitrim, Ireland</p>
			<p>Status: Unemployed</p>
		</div>
	</div>
	<br/>
	<div class="container">
		<div class="padding referral-section">
		<h2>Referrals</h2>
			<div class="referral-box">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lacus ipsum, mattis suscipit ex in, fermentum fermentum dui. Vestibulum lacinia placerat augue, nec tincidunt leo volutpat eget. Ut tincidunt sed enim sit amet cursus. Aliquam scelerisque, nulla eu suscipit sagittis, dui lorem rutrum tellus, a lacinia lorem elit ac lorem. Integer gravida nisi aliquet, molestie ligula ac, pulvinar lacus. Suspendisse auctor urna ac mollis tristique. Etiam eleifend sem odio, nec efficitur urna condimentum nec.</p>
			<p>Nunc ac eros suscipit, aliquam nibh nec, commodo elit. Nulla quis posuere tortor. Vestibulum mollis nibh et ipsum pellentesque, at placerat nulla tincidunt. Sed a dolor suscipit sem mollis blandit at sit amet odio. Nam ut nibh sed purus convallis vehicula. Morbi a nulla varius, volutpat ex non, varius enim. Nullam efficitur mollis eros, vitae ullamcorper nunc viverra ac. Mauris cursus lorem elit, vel ullamcorper lacus volutpat at. Sed eget dapibus nisi, ac convallis est. Mauris sit amet neque elit. Vestibulum euismod urna vel enim suscipit aliquet.</p>
			</div>
<p>Written by:</p>
			<div class="referrer-box">
			<img class="search-avatar" src="img/blank_avatar_small-alt.png" ></img>
			
			<div class="right-box padding-left">
				
				<p>Conor Gallagher</p>
				<p>Leitrim, Ireland</p>
				<p>Rank 5 - Manager</p>
				<p>Organization - Ergosoft Ireland</p>
			</div>
			
			</div>
		</div>
		
		<br/>
		<div class="container">
		<h2 class="text-center">Send a Referral</h2>
			<textarea class="write-box" rows="12" cols="50"></textarea>
			<button class="button button-block button-positive" ng-click="login(username, password)" type="submit">Submit</button>
		</div>
	</div>
	</div>
  </ion-content>
</ion-view>
