<ion-view view-title="Search">
  <ion-content class="padding">

	    <label class="item item-input">
		    <input type="text" ng-model-options="{ getterSetter: true }" ng-model="search" placeholder ="John Smith"/>
        </label>
		<br/>
	<div class="container">
		<div ng-repeat="(uid, user) in results" class="user-container" ng-click="viewProfile('{{ uid }}')">
				<div class="img-box">
					<img class="search-avatar" src="img/blank_avatar_small.png" ></img>
				</div>
				<div class="details-box padding-left">
					<p>{{ user['First Name'] }} {{ user['Second Name'] }}</p>
					<p>{{ user['Email'] }}</p>
				</div>
		</div>
	</div>
  </ion-content>
</ion-view>
