/* Empty. Add your own CSS if you like */


.ref-popover{
height:70%;
}

.pending-ref-box:hover {
background-color: #cce5ff;
}

.background{
background-color:#000080;
}

.compressor{
width:95%;
}

.center-txt{
text-align: center;
}

.inner {
width: 800px;
border:1px solid black;
 }

.logo{
   display:block;
   margin:0 auto;
   width:200px;
 }


.container{

}


.loading-container  .loading  {
	background-color: rgba(1, 1, 1, 1);
}


.user-container{
Height:82px;
background-color: #f2f2f2;
}

.user-container:hover {
    background-color: #cce5ff;
}

.search-avatar{
float:left;
Width: 82px;
}

.img-box{
float:left;
}

.details-box{
float:left;
}

.right-box{
float:Right;
}

.referral-section{
background-color: #efefef;
}

.referral-section h2{
text-align:center;
}

.referral-box{
background-color: #cce5ff;
}

.referrer-box{
Height: 125px;
}

.write-box{
background-color: #f2f2f2;
width: 90%;
height: 75%;
margin: auto;
border: solid 1px #FFF;

}

.blur {
	filter: blur(6px);
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px); 
	-o-filter: blur(6px); 
	-ms-filter: blur(6px); 
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='6');
}
